/* style.css */
body {
  font-family: 'Georgia', serif;
  background-color: #1e112a;
  color: #f8f8ff;
  margin: 0;
  padding: 0 2rem;
}

header {
  text-align: center;
  padding: 4rem 0;
}

h1 {
  font-size: 2.5rem;
  color: #f0b3ff;
}

nav a {
  margin: 0 1rem;
  color: #c0ffee;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

section {
  margin: 2rem 0;
}

footer {
  text-align: center;
  margin: 4rem 0;
  color: #888;
}
.form-box {
  margin-bottom: 3rem;
  background: rgba(255, 255, 255, 0.04);
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid #444;
}

.form-box h2 {
  text-align: center;
  color: #ffccff;
}

form input, form textarea {
  width: 100%;
  background: #2b1b39;
  color: #fff;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

form button {
  background: #c0ffee;
  color: #1e112a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #aadddd;
}
